body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 50px;
}

label {
  font-weight: bold;
  font-size: 1.2em;
}

input {
  padding: 10px;
  margin: 10px;
  width: 250px;
  font-size: 1.2em;
}

button {
  padding: 12px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
}

#result, #roundedResult {
  margin-top: 20px;
  font-weight: bold;
  color: #4CAF50;
  font-size: 1.3em;
}

#error {
  margin-top: 20px;
  font-weight: bold;
  color: #FF0000;
  font-size: 1.3em;
}
